/* section refers to the right column */
section {
  width:630px;
  /*width:500px;*/ /*original was 500px*/
  float:right;
  padding-bottom:50px;
/*  position:fixed;
  left:450px; */
}

section ul {
	list-style-type: square;
	margin-top:10px;
	margin-bottom:10px;
	font-size:16px;
}

section {
  border:1px solid #e5e5e5;
  border-width:1px 0;
  padding:20px 0;
  margin:0 0 20px;
}
