/* header:  refers to the left column, default width 270px */
/* section: refers to the right column, default width 550px */
/*------------------------------------------------------------------------------
    MASTER STYLESHEET
----------------------------------------------------------------------------- */
@import "header.css";
@import "section.css";
@import "link.css";
@import "wrapper.css";
/*------------------------------------------------------------------------------
    COLORS
    #F5F5F5 : whitesmoke
----------------------------------------------------------------------------- */

/* BODY TEXT FORMATTING */
body {
  background-color: #FDFDFF;
  padding:50px;
  font: 16px     'Source Sans Pro', 'Jost', 'Lato',  'Calibri';
  color: black;
  padding:50px;
  font-weight:400;
  -webkit-font-smoothing: antialiased;
}


/* TITLE FORMATTING (left column, name-last name)*/
h1 {
  font-size:36px;
  line-height:1.1;
}

/* SECTION TITLE FORMATTING */
h2 {
	color:black;
  line-height:1.1;
}

img {
  max-width:100%;
}

.collapsible {
  background-color: transparent;
  font: 16px     'Source Sans Pro', 'Jost', 'Lato',  'Calibri';
  color: black;
  cursor: pointer;
  width:95px;
  /*width: 95px;*/ /*original is width: 95px;*/
  border: none;
  text-align: left;
  outline: none;
}
.collapsible:after {
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 0px;
}

.content {
  text-align:justify;
  background-color: #f5f5f5;
  max-height: 0;
  max-width:550px;
  /*max-width: 450px;*/ /*original is max-width: 450px;*/
  overflow: hidden;
  font-size: 14px;
  transition: max-height 0.2s ease-out;

}
