/***************************************/
/* Write References next to each other */
/***************************************/
.first-second {
  width: 415px;
  /*padding: 0 10px 0 0;*/
  padding-bottom: 12px;
  float: left;
}

.second-second {
  width: 210px;
  /*padding: 0 10px 0 0;*/
  padding-bottom: 12px;
  float: left;
}

@media only screen and (max-width: 986px) {

  .first-second {
      width: 100%;
      padding-bottom: 10px;
      float: none;
  }

  .second-second {
      width: 100%;
      padding-bottom: 10px;
      float: none;
  }


}


@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  header ul {
    width:99%;
  }

  header li, header ul li + li + li {
    width:33%;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
